body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color:aliceblue
}

div {
    margin: 10px;
    padding: 5px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border: 2px solid #b6b5b5;
    font-size: 24px;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    width: 150px;
}

.rounds {
    margin-bottom: 25px;
}

.player-choice {
    margin-top: 30px;
}

.winner {
    font-size: 36px;
    font-weight: bold;
    color: rgb(46, 154, 187);
    margin-top: 20px;
}

